[alias]
    st = status
    br = branch -vv
    co = checkout
    cp = cherry-pick

[color]
    ui = auto

[help]
    autocorrect = 1

[branch]
	sort = -committerdate

[difftool]
    prompt = false
[mergetool]
    prompt = false

[includeIf "gitdir:C:/"]
    path = ~/windows.gitconfig
[includeIf "gitdir:/home/"]
    path = ~/linux.gitconfig

